  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action" id="about">
              <h2>Who we are</h2>
              <hr class="primary">
                <p class="text-faded"><span class="cubevo">Cub|e|vo</span> was born out of the desire to help companies work more efficiently by allowing them to concentrate on their core business, rather than managing laborious, repetitive and time-consuming activities. We build and implement solutions that take care of them for you.</p>
                <p class="text-faded">Although a young company, we bring to the table more than 12 years diverse-industry of experience. And we've also built some interesting stuff too. Data pipelines and automation flows for pharmaceutical clients, shared services cloud platform used in IT consultancy and web crawling tools for the tourism industry would be a few examples.</p>
                <p class="text-faded">We use a lot of tools and like them all but we have a special affinity for Python, which is the crown jewel of out toolchain. It's free and easy to use, has a great community and an extension for pretty much everything you could think of.</p>
                <p class="text-faded">One more thing about us: we value our clients! They are our business partners and our goal is to establish long-lasting an mutually-beneficial relationships. We value their time and their work and we put extra effort into understanding what makes their world move, so we can provide the best service.</p>
                <p class="text-faded">Just in the case we weren't clear enough, out commitment to you is to remove distractions by automating your business and empower you to be more productive, and focus on the things that really matter.</p>
                <!-- <a href="#" class="btn btn-default btn-xl"></a> -->
                <!-- <a href="#" class="btn btn-default btn-xl wow tada"></a> -->
          </div>
      </div>
  </aside>
