<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got you covered!</h2>
                <hr class="light">
                <p class="text-faded">We know that gathering data you need for that market study that you wanted to do for months is a lot of work. Or that, maybe, your operations team struggles every week to wrangle through those dense Excel files in order to extract and interpret the data they need for their activities. This is why we want to help!</p>
                <p class="text-faded">Cub|e|vo was born out of the desire to empower companies to work more efficiently and use their available time to concentrate on the core business.    </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
