<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got you covered!</h2>
                <hr class="light">
                <p class="text-faded">We know that gathering the data you need for that market study that you wanted to do for months is a lot of work. Or maybe, your operations team struggles all the time to wrangle through those Excel files they receive every week. You might even want to deploy or transition your application to a cloud infrastructure but you heard that it's complicated. 
                    This is why we want to help!</p>
                <p class="text-faded"><span class="cubevo">Cub|e|vo</span> was born out of the desire to help companies to work more efficiently by dedicating their time to concentrate on the core business. The tools we create will take care of the other, repetitive and time-consuming processes.</p>
                <p class="text-faded"></p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
