<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got you covered!</h2>
                <hr class="light">
                <p class="text-faded" id="call-to-action-text">You need to start gathering data for that market study you wanted to do for months, but it's a lot of work. Or, maybe, your operations team struggles all the time to wrangle through the dense Excel files they receive every week. You might even want to deploy your new application to a cloud infrastructure or migrate an existing one, but you don't know where to start. We know it's hard and this is why we want to help!</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact us!</a>
            </div>
        </div>
    </div>
</section>
