
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action" id="about">
                <p class="text-faded">
                <span class="cubevo">Cub|e|vo Data Concept S.R.L.</span></p>
                <p class="footer-info">Address: 57 Aurel Vlaicu, Arad, RO, 310350</p>
                <p class="footer-info">Email: contact@cubevodata.com</p>
          </div>
          <div id="privacy-tc">
            <p class="footer-tc-copyright">Copyright &copy; 2020 Cubevo Data Concept. All rights reserved </p>
            <p class="footer-bullet">&bull;</p>
            <a class="footer-tc-privacy clickable" data-toggle="modal" data-target="#modal-privacy">Privacy</a>
            <p class="footer-bullet">&bull;</p>
            <a class="footer-tc-privacy clickable" data-toggle="modal" data-target="#modal-terms-and-conditions">Terms and conditions</a>
          </div>
      </div>
    
         <div class="modal fade" id="modal-privacy" role="dialog">
          <div class="modal-dialog">
           <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <div class="modal-project-name">
                      Privacy
                  </div>
                  <hr class="light">
              </div>
              <div class="modal-body">
                <p class="project-description">{% include privacy.html %}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>   

         <div class="modal fade" id="modal-terms-and-conditions" role="dialog">
          <div class="modal-dialog">
           <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <div class="modal-project-name">
                      Terms and Conditions
                  </div>
                  <hr class="light">
              </div>
              <div class="modal-body">
                <p class="project-description">{% include terms-and-conditions.html %}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>      
    
  </aside>
