
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action" id="about">
                <p class="text-faded">
                <span class="cubevo">Cub|e|vo Data S.R.L.</span></p>
                <p class="footer-info">Address: 57 Aurel Vlaicu, Arad, RO, 310350</p>
                <p class="footer-info">Email: contact@cubevodata.com</p>
          </div>
          <div id="privacy-tc">
            <p class="footer-tc-copyright">Copyright &copy; 2019 Cubevo Data Concept. All rights reserved </p>
            <p>&bull;</p>
            <a class="footer-tc-privacy" href="_layouts/privacy.html">Privacy</a>
            <p>&bull;</p>
            <a class="footer-tc-privacy" href="terms-and-conditions.html">Terms and conditions</a>
          </div>
      </div>
  </aside>
