<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                We build solutions for
            </h1>
            <h1 class="typewriter-text"> 
              <a href="" class="typewrite" data-period="2000" data-type='[ "business process automation",  "data acquisition, processing and analysis", "cloud deployment and configuration" ]'>
                <span class="wrap"></span>
              </a>
            </h1>
            <p>Let the data power your business! We are here to lend a helping hand!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
