<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                We build data 
            </h1>
            <h1 class="word">
                    <span>acquisition</span>
                    <span>pipeline</span>
                    <span>processing</span>
                    <span>analysis</span>
            </h1> 
            <h1>solutions</h1>
            <hr>
            <p>Let the data power your business! We are here to lend a helping hand!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
