<p>

OVERVIEW
Cubevo Data Concept is committed to protecting your privacy. We are a Romanian company, incorporated in Arad, with offices located at 57 Aurel Vlaicu, Arad, Romania.
We have prepared this Privacy Policy statement (“Privacy Policy”) to explain our practices regarding the Personal Data (as defined below) we collect from the users of our ”Websites” (Cubevo Data Concept ’s website: cubevodata.com, subdomains: blog.cubevodata.com), how we use and share it, and the rights you have in the processing your information.
This Cubevo Data Concept Privacy Policy explains:
a.	What information we collect
b.	Why we collect it
c.	How we use that information
d.	How long personal information is retained
e.	The rights you have, including how to access and update information
f.	When we share personal information
g.	What Security Measures We Have in Place
h.	Children’s Privacy
i.	Data Transfers
j.	Links to Other Websites
WHAT INFORMATION WE COLLECT
YOUR PERSONAL DATA
“Personal Data” means data that allows someone to identify or contact you, including, for example, your name, address, telephone number, and e-mail address, as well as any other non-public information about you that is associated with or linked to any of the foregoing data.
Cubevo Data Concept collects your Personal Data (your “Data”) through two channels:
1.	The use of inquiry and registration forms
2.	The provision of your details to Cubevo Data Concept  either online or offline, including live events at which Cubevo Data Concept  has a presence
The elements of your Personal Data that Cubevo Data Concept collects might include:
a.	Name
b.	Job title
c.	IP address and browser information
d.	Market research data such as customer usage patterns
e.	On-site search terms or search history
f.	Logs from live chat applications with Cubevo Data Concept employees
We might also collect information regarding:
a.	Company name
b.	Work telephone number
c.	Business email address
d.	Company Industry
e.	Company Location
f.	Company Size (# of employees)
g.	Company Annual Revenue
WHY WE COLLECT YOUR INFORMATION
Cubevo Data Concept uses your Data for purposes that could include:
a.	Conducting market research surveys
b.	Measuring interest in and improving the Website and Cubevo Data Concept’s services
c.	Providing you with information about services Cubevo Data Concept offers. You may stop the delivery of marketing emails by following the instructions accompanying a particular communication or by contacting Cubevo Data Concept at contact@cubevodata.com.
d.	Sending you offers and emails containing content we believe will be relevant based on your job title and/or company industry
e.	Resolving disputes and troubleshooting problems
Other than as set out above, you will be notified when Cubevo Data Concept will share personal information about you with third parties, and you will have an opportunity to choose not to have Cubevo Data Concept share such information.
Cubevo Data Concept also uses information in aggregate form (so that no individual user is identified):
a.	To build up marketing profiles
b.	To aid strategic development
c.	To audit usage of the Website
USE OF COOKIES AND OTHER TRACKING DEVICES
Cubevo Data Concept uses cookies to help personalize your use of the Website. A cookie is a small piece of information that is sent to your computer’s hard drive by the web server so that the Website can remember who you are. This information may include information relating to your use of the Website, information about your computer such as the computer’s IP address and browser type, demographic data and, if you arrived at the Website via a link from a third party site, the URL of the linking page. If you are a registered user, this may include your name and email address for verification purposes.
Cubevo Data Concept uses information from cookies for purposes that could include:
a.	Identifying returning users and registrants
b.	Enabling you to move more easily around the Website
c.	Tracking your use of the Website to better develop the Website in accordance with your requirements
d.	Building up a demographic profile
e.	Serving personalized or dynamic content based on information such as Job Title or Industry
If you do not want to help us learn how to improve the Website, products, offers and marketing strategy, you may choose to set your web browser to not accept cookies. You can go to the help menu within your Internet browser to manage your cookies preferences.
From time to time, Cubevo Data Concept could permit third party companies to set cookies on the Website for purposes that could include market research, revenue tracking, or improving functionality of the Website.
DISABLING COOKIES
How do you disable cookies?
Disabling cookies varies from browser to browser. Below are instructions for how to disable cookies in a variety of modern web browsers.
Disabling cookies in Internet Explorer
1.	Choose the menu “tools” then “Internet Options”
2.	Click on the “privacy” tab
3.	Select the appropriate setting
Disabling cookies in Google Chrome
1.	Choose “Preferences” from Chrome in the navigation menu
2.	Choose “Advanced”
3.	Under “Privacy and security,” click “Content settings”
4.	Click “Cookies”
Disabling cookies in Safari
1.	Choose “Preferences” then navigate to “Privacy”
2.	Click on “Remove all Website Data”
Disabling cookies in Firefox
1.	Choose the menu “Tools” then “Options”
2.	Click on the icon “Privacy”
3.	Find the menu “Cookie” and select the relevant options
Disabling cookies in Opera 6.0 and subsequent versions
1.	Choose the menu “Files” then click “Preferences”
2.	Navigate to “Privacy” and click the appropriate settings
USE OF TRACKING PIXELS
Cubevo Data Concept might place paid media advertisements for its services, events, original content, and landing pages on various advertising networks and social media platforms. These may include LinkedIn, Google AdWords, Facebook, Twitter, AdRoll, and similar services. Cubevo Data Concept may place tracking code or tracking pixels from third-party providers on the Websites for the purposes of serving relevant content to visitors to the Websites.
Cubevo Data Concept uses Google Analytics and Google Tag Manager to track the behavior of visitors on its Websites.
HOW LONG IS PERSONAL INFORMATION RETAINED?
Cubevo Data Concept will keep your personal information only as long as is reasonably necessary for the purposes described in this Policy or such longer period as may be required by applicable law.
YOUR DATA PROTECTION RIGHTS
The Internet is a global environment. Using the Internet to collect and process personal Data necessarily involves the transmission of Data on an international basis. When Cubevo Data Concept collects personal information from you on the Website, Cubevo Data Concept complies to several self regulatory frameworks, including the EU-US and Swiss-US Privacy Shield Frameworks.
If you are a non-U.S. user of the Site, by visiting the Site and providing us with data, you acknowledge and agree that your Personal Data may be processed for the purposes identified in the Privacy Policy. In addition, your Personal Data may be processed in the country in which it was collected and in other countries, including the United States, where laws regarding the processing of Personal Data may be less stringent than the laws in your country. By providing your data, you consent to such transfer.
Individuals located in the European Economic Area, have certain statutory rights in relation to their personal data, according to the European Regulation EU 2016/679 (GDPR). Subject to any exemptions provided by law, you can exercise your data protection rights towards us in the following ways:
Right to revoke authorization: If you have granted your authorization regarding certain types of processing operations, you can revoke this authorization at any time with effect in the future. However, the retraction doesn’t affect the legality of the processing before the withdrawal of consent, or as long as the processing can be justified with another legal basis.
Right of access: You have the right to receive information about your data that we have saved.
Right to rectification: You have the right to obtain the rectification of inaccurate data that we have stored concerning you.
Right of erasure: If you wish, we will delete your data as long as other legal regulations (e.g. legal retention periods or limitations) or one of our legitimate interests (e.g. defense of our rights and claims) do not conflict with it.
Right to restriction of processing: You can request to limit the processing of your data.
Right to object: Moreover, you can object to the processing of your data. You can exercise this right to object in the case of certain circumstances that arise from your specific situation and only for data processing whose legality is based on a balance of interests which concerns profiling or which fulfills the purpose of direct advertising. In this case, we will no longer process your data unless we are legally entitled to deny your objection. However, an objection to direct marketing, including profiling, is mandatory for us and we are no longer permitted to process your data for these purposes. Insofar as you have granted your authorization for direct advertising and you no longer wish to receive it, you must retract your authorization.

Right to data portability: You also have the right to receive your data in a structured, machine-processable format or to submit it to a third party.
Complaints to the data protection authority: Furthermore, you have the right to submit complaints to any responsible data protection authority. However, we recommend that you first send your complaint to our repreentatives so that we can solve your problem quickly and in a customer-oriented fashion.
For a quick resolution to your problem, we ask you to send a written request about exercising your rights to the following address or directly at the following e-mail address:

Cubevo Data Concept SRL
Calea Aurel Vlaicu, Nr. 57,
Arad, Arad County, Romania
Phone: +40744.233.146
Email Address: contact@cubevodata.com
The information provided, as well as any communication and measures taken by you to exercise the above rights, are provided by Cubevo Data Concept free of charge. However, if your claims are unfounded or excessive, especially because of their repetitive nature, Cubevo Data Concept may: (i) either charge a fee based on the administrative costs of providing the information or communication, or to take the required measures; (ii) refuse to comply with the request.


SECURITY POLICY
Cubevo Data Concept makes use of the Google Analytics and Google Tag Manager tools to aggregate usage data. All the information is, thus, stored on the Google servers.
LINKS TO OTHER WEBSITES
Links to third-party websites on this Website are provided solely for your convenience. If you use these links, you leave this Website. Cubevo Data Concept has not reviewed all of these third-party websites and does not control and is not responsible for these websites or their content or availability. Cubevo Data Concept therefore does not endorse or make any representations about them, or any material found there, or any results that may be obtained from using them. If you decide to access any of the third-party websites linked to this Website, you do so entirely at your own risk.
Please be aware that the terms of this Privacy Policy do not apply to these outside websites or content, or to any collection of your Personal Data after you click on links to such outside websites. We encourage you to read the privacy policies of every website you visit.
This data protection information was updated on 26th of July 2019. Cubevo Data Concept reserves the right to update this data privacy information periodically.

</p>
