<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#shared-services-platform" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cloud Infrastructure, Tailored
                            </div>
                            <div class="project-name" id="shared-services-platform">
                                Shared Services Platform
                            </div>
                            <br>
                            <p class="project-description">Built on Google Compute Engine, complete with Apache web server and mod_WSGI, a PostgreSQL database and a Django web application for managing users and the worker apps. It serves as a deployment platform for software tools used to provide services to both internal and external clients.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services
                            </div>
                            <div class="project-name">
                                Travel Crawler
                            </div>
                             <br>
                            <p class="project-description">A series of web crawlers that help the client gather and centralize the data they need for their day-to-day activity.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Process Automation
                            </div>
                            <div class="project-name">
                                Salesforce Match Control
                            </div>
                             <br>
                            <p class="project-description">An automated process that takes information from the client's web applications, runs a series of data cleaning, manipulation and matching procedures to make up for missing data, and verifies that information against data in Salesforce. It then packs everything in a report that is concomitently sent by email to the final user and saved to a database. Helped reduce user workload from days to a couple of hours.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Process Automation
                            </div>
                            <div class="project-name">
                                Spend & Savings Report
                            </div>
                             <br>
                            <p class="project-description">Desktop application that applies machine learning techniques on historuical data, in order to reduce the time necessary for the realization of critical report from two days to about thirty minutes.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
