<section class="no-padding" id="projects">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="light">
                <h2 class="section-heading">Our Work</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cloud Infrastructure, Tailored
                            </div>
                            <div class="project-name" id="shared-services-platform">
                                Shared Services Platform
                            </div>
                            <br>
                            <p class="project-description">Built on Google Compute Engine, complete with Apache web server and mod_WSGI, a PostgreSQL database and a Django web application for managing users and the worker apps. It serves as a deployment platform for software tools used to provide services to both internal and external clients.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Cloud Infrastructure
                            </div>
                            <div class="project-name">
                                Travel Crawler
                            </div>
                             <br>
                            <p class="project-description">A series of web crawlers that help the client gather and centralize the data they need for their day-to-day activity. The applications use Firefox in headless mode and are deployed on Ubuntu, on both AWS EC2 and Google Compute Engine.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Process Automation 
                            </div>
                            <div class="project-name">
                                Salesforce Match Control
                            </div>
                             <br>
                            <p class="project-description">An automated process that takes information from the client's web applications, runs a series of data cleaning, manipulation and matching procedures to make up for missing data, and verifies that information against data in Salesforce. It then packs everything in a report that is concomitently sent by email to the final user and saved to a database. Helped reduce user workload from days to a couple of hours.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Process Automation
                            </div>
                            <div class="project-name">
                                Spend & Savings Report
                            </div>
                             <br>
                            <p class="project-description">Desktop application that applies machine learning techniques on historical data, in order to reduce the time necessary for the realization of critical report from two days to about thirty minutes.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services
                            </div>
                            <div class="project-name">
                                Field Report Centralizer
                            </div>
                             <br>
                            <p class="project-description">Realized in Excel VBA, takes as input a folder containing non-tabular reports, compiled by the members of the field force. The data gets collected, structured and then used to generate a centralized, tabular report, used as a starting point for further analysis.</p>
                         </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Process Automation
                            </div>
                            <div class="project-name">
                                Jira Report Updater and Data Set Deduplicator
                            </div>
                             <br>
                            <p class="project-description">Generates a situation with the Jira tickets for the current day and appends it to the already existing central report. After extracting the link for each ticket it accesses its Jira record to search for updates and brings them inside the report.</p>
                            <p class="project-description">Implementation of various string matching techniques, that help identify and remove duplicate rows in large manually submitted data sets. It follows a set of rules provided by the user but also take into acount that the duplicate rows might not be perfectly identical because of the errors that often occur during manual typing.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
