<section class="bg-primary" id="projects">
        <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Our Work</h2>
                        <hr class="light" id="projects-separator">
                    </div>
                </div>
        </div>
    <div class="container-fluid">
            
            
            
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box clickable" data-toggle="modal" data-target="#modal-shared-services-server">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cloud Infrastructure, Tailored
                            </div>                                
                            <div class="project-name">
                                Shared Services Server
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                
          <div class="modal fade" id="modal-shared-services-server" role="dialog">
            <div class="modal-dialog">
             <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <div class="modal-project-name">
                        Shared Services Server
                    </div>
                    <hr class="light">
                </div>
                <div class="modal-body">
                  <p class="project-description">A deployment platform for custom software tools that are used to provide services to both internal and external clients. It is built on Google Compute Engine, complete with Apache web server and mod_WSGI, a PostgreSQL database and a Django web application for managing user accounts and the worker apps.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>                
                
                
                 
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#modal-web-data-crawler">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Cloud Infrastructure
                            </div>
                            <div class="project-name">
                                Web Data Crawler
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                
           <div class="modal fade" id="modal-web-data-crawler" role="dialog">
            <div class="modal-dialog">
             <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <div class="modal-project-name">
                        Web Data Crawler
                    </div>
                    <hr class="light">
                </div>
                <div class="modal-body">
                  <p class="project-description">A series of web crawlers that help the client gather and centralize the data they need for their day-to-day activity. The applications use Firefox in headless mode and run on Ubuntu, on both AWS EC2 and Google Compute Engine.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>                 
                
                
                
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#modal-salesforce-validator">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Process Automation 
                            </div>
                            <div class="project-name">
                                Salesforce Validator
                            </div>
                        </div>
                    </div>
                </a>
            </div>

          <div class="modal fade" id="modal-salesforce-validator" role="dialog">
            <div class="modal-dialog">
             <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <div class="modal-project-name">
                        Salesforce Validator
                    </div>
                    <hr class="light">
                </div>
                <div class="modal-body">
                  <p class="project-description">An automated process that downloads data, in the form of CSV files, from the client's web applications, runs a series of cleaning and matching procedures and verifies that information against the Salesforce database for validation. It then packs everything in a report that is concomitantly sent by email to the final user and saved to a database. It helped reduce user workload from a few days to a couple of hours.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>         
                
                
                
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#modal-spend-savings">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Process Automation
                            </div>
                            <div class="project-name">
                                Spend & Savings Report Automation
                            </div>
                        </div>
                    </div>
                </a>
            </div>

          <div class="modal fade" id="modal-spend-savings" role="dialog">
            <div class="modal-dialog">
             <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <div class="modal-project-name">
                        Spend & Savings Report Automation
                    </div>
                    <hr class="light">
                </div>
                <div class="modal-body">
                  <p class="project-description">A desktop application that employs machine learning techniques to help in the realization of critical reports. It manages to reduce the time dedicated, by the user, to this activity, from two days to about thirty minutes.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>         
                
                
                              
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#modal-field-report-centralizer">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services
                            </div>
                            <div class="project-name">
                                Field Report Centralizer
                            </div>
                         </div>
                    </div>
                </a>
            </div>
 
          <div class="modal fade" id="modal-field-report-centralizer" role="dialog">
            <div class="modal-dialog">
             <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <div class="modal-project-name">
                        Field Report Centralizer
                    </div>
                    <hr class="light">
                </div>
                <div class="modal-body">
                  <p class="project-description">Realized in Excel VBA, takes as input a folder containing non-tabular reports, compiled by the members of the field force. The data gets collected, structured and then used to generate a centralized, tabular report, used as a starting point for further analysis.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>         
                
                
                                             
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#data-set-deduplicator">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Related Services, Process Automation
                            </div>
                            <div class="project-name">
                                Data Set Deduplicator
                            </div>
                        </div>
                    </div>
                </a>
            </div>
 
          <div class="modal fade" id="data-set-deduplicator" role="dialog">
            <div class="modal-dialog">
             <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <div class="modal-project-name">
                        Data Set Deduplicator
                    </div>
                    <hr class="light">
                </div>
                <div class="modal-body">
                   <p class="project-description">Implementation of various string matching techniques, that help identify and remove duplicate rows in large manually submitted data sets. It follows a set of rules provided by the user but also take into account that the duplicate rows might not be perfectly identical because of the errors that often occur during manual typing.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>         
                
                
                                                          
        </div>
    </div>
</section>
