<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What we do</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tasks wow bounceIn text-primary"></i>
                    <h3>Business Process Automation</h3>
                    <p class="text-muted">We analyze the digital workflows in your company to determine the most repetitive and time-consuming tasks. We then create tools that will take care of them so that you or your employees don't have to.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-table wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Data Related Services</h3>
                    <p class="text-muted">Help you choose the right data storage infrastructure. We then draw the flows that gather the data from wherever they are and push them to the database, design and implement the procedures for cleannig and normalization, and top it all off with some neat analysys and visualization facilities.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud-upload wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Cloud Infrastructure</h3>
                    <p class="text-muted">Determine the best solution for your needs, configuration of web server, database and other tools you might need. Deployment or transitioning of you website/applicaton to the new cloud infrastructure.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Tailored</h3>
                    <p class="text-muted">Need something else? Know that we also develop other applications and can provide different services. Drop us an email and let us know what bothers you. We will find a solution for it.</p>
                </div>
            </div>
        </div>
    </div>
</section>
